{include file='public/head'}
<div class="x-body">




    <fieldset class="layui-elem-field">
        <legend>
            信息统计
        </legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-even="">
                <thead>
                    <tr>
                        <th>
                            统计
                        </th>
                        <th>
                            资讯库
                        </th>
                        <th>
                            图片库
                        </th>
                        <th>
                            产品库
                        </th>
                        <th>
                            用户
                        </th>
                        <th>
                            管理员
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            总数
                        </td>
                        <td>
                            92
                        </td>
                        <td>
                            9
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            今日
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            昨日
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            本周
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            本月
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">
                            服务器信息
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th width="30%">
                            服务器域名
                        </th>
                        <td>
                            <?php echo $_SERVER['SERVER_NAME']; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器IP地址
                        </td>
                        <td>
                            <?php echo gethostbyname($_SERVER['SERVER_NAME']); ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器内网地址
                        </td>
                        <td>
                            172.24.189.12
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器端口
                        </td>
                        <td>
                            80,8901
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器操作系统
                        </td>
                        <td>
                            <?php echo PHP_OS; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器运行环境
                        </td>
                        <td>
                            <?php echo $_SERVER["SERVER_SOFTWARE"]; ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            本文件所在文件夹
                        </td>
                        <td>
                            C:\thinkphp\
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器时间
                        </td>
                        <td>
                            <?php echo date("Y年n月j日 H:i:s"); ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器的语言种类
                        </td>
                        <td>
                            Chinese (People's Republic of China)
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            北京时间
                        </td>
                        <td>
                            <?php echo gmdate("Y年n月j日 H:i:s",time()+8*3600); ?>
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            服务器上次启动到现在已运行
                        </td>
                        <td>
                            7210分钟
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            CPU 总数
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CPU 类型
                        </td>
                        <td>
                            x86 Family 6 Model 42 Stepping 1, GenuineIntel
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前在线人数
                        </td>
                        <td>
						<?php echo count($_SESSION); ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前SessionID
                        </td>
                        <td>
                            <?php echo session_id(); ?>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前用户名
                        </td>
                        <td>
                            {$Think.session.username}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <blockquote class="layui-elem-quote layui-quote-nm">
        百科荣创(北京)科技发展有限公司
    </blockquote>
</div>
{include file='public/foot'}
