{include file="public/head"}


<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <h1>下载中心</h1>
        <p>作者以往开发的软件提供免费下载。</p>
        <div class="page_nav">
      <span>您的位置:</span> <a href="{:url('download/index/index')}">下载中心</a> <span><i class="fa fa-angle-double-right"></i>主页</span>
      </div>
      </div>
    </div>
  </div>
</section>



<!--BLOG SECTION-->
<section id="blog" class="padding">
  <div class="container">
    <h2 class="hidden">Our Blog</h2>
    <div class="row">
      <div class="col-md-9">
        <article class="blog_item heading_space wow fadeInLeft" data-wow-delay="300ms">
          <div class="row">
            <div class="col-md-5 col-sm-5 heading_space">
              <div class="image"><img src="__static__\dpicture\cktszsbkb.jpg" alt="blog" class="border_radius"></div>
            </div>
            <div class="col-md-7 col-sm-7 heading_space">
              <h2>WPF桌面软件</h2>
              <ul class="comment margin10">
                <li><a href="">2017.07-2018.04</a></li>
                <li><a href="">研发</a></li>
              </ul>
              <p class="margin10">包含串口调试助手等常用软件，使用C#开发，具有很强大的可扩展性，可以根据需求快速定制。
              </p>
              <a class=" btn_common btn_border margin10 border_radius" href="{:url('download/index/windows')}">进入</a>
            </div>
          </div>
        </article>
        <article class="blog_item heading_space wow fadeInLeft" data-wow-delay="400ms">
          <div class="row">
            <div class="col-md-5 col-sm-5 heading_space">
              <div class="image"><img src="__static__\dpicture\nattierseaandroid.jpg" alt="blog" class="border_radius"></div>
            </div>
            <div class="col-md-7 col-sm-7 heading_space">
              <h2>Android APP</h2>
              <ul class="comment margin10">
                <li><a href="">2017.07-2018.04</a></li>
                <li><a href="">研发</a></li>
              </ul>
              <p class="margin10">蓝牙和网络传输，是物联网安卓项目开发的重点。在这里有两个简单的实例。
			  </p>
              <a class=" btn_common btn_border margin10 border_radius" href="{:url('download/index/android')}">进入</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-3">
        <aside class="sidebar bg_grey border-radius wow fadeIn" data-wow-delay="300ms">
          <div class="widget heading_space">
            <form class="widget_search border-radius">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="输入以搜索服务" required>
                <i class="input-group-addon icon-icons185"></i>
              </div>
            </form>
          </div>
          <div class="widget heading_space">
            <h3 class="bottom20">关键词搜索</h3>
            <ul class="tags">
              <li><a href="#.">4G</a></li>
              <li><a href="{:url('data/user/index')}">LoRa</a></li>
              <li><a href="{:url('newdata/index/sensor')}">NB-IoT</a></li>
              <li><a href="{:url('newdata/index/bd')}">北斗</a></li>
              <li><a href="{:url('newdata/index/bd')}">GPS</a></li>
              <li><a href="{:url('newdata/index/sensor')}">环境监测</a></li>
              <li><a href="{:url('newdata/index/bd')}">房车</a></li>
              <li><a href="{:url('newdata/index/sensor')}">低功耗广域网</a></li>
              <li><a href="{:url('newdata/index/sensor')}">传感器</a></li>
              <li><a href="{:url('data/user/index')}">UDP</a></li>
              <li><a href="{:url('data/user/index')}">TCP</a></li>
              <li><a href="{:url('newdata/index/bd')}">COAP</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!--BLOG SECTION-->

{include file="public/foot"}

