{include file="public/head"}


<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <h1>STM32基础实验</h1>
        <p>STM32是一款广泛使用的高性能芯片，在全球的嵌入式开发行业中尤为重要。掌握STM32的基础编程，既可以使用它调用传感器，也可以与其他芯片联用进行物联网产品开发。</p>
        <div class="page_nav">
      <span>您的位置:</span> <a href="{:url('course/index/index')}">视频课程中心</a> <span><i class="fa fa-angle-double-right"></i><a href="{:url('course/index/course2')}">STM32基础实验</a> </span>
      </div>
      </div>
    </div>
  </div>
</section>
<!--Page Header-->

<!-- Courses -->
<section id="course_all" class="padding-bottom">
  <div class="container">
    <div class="row">
	
	{volist	name="data"	id="v"}
      <div class="col-sm-6 col-md-4">
        <div class="course margin_top wow fadeIn" data-wow-delay="400ms">
          <div class="image bottom25">
            <img src="{$v.picture}" alt="Course" class="border_radius">
          </div>
          <h3 class="bottom10"><a href="{:url('course/index/study2?course='.$v['id'])}">{$v.name}</a></h3>
          <p class="bottom20" style="height:120px">{$v.brief}</p>
          <a class="btn_common yellow border_radius" href="{:url('course/index/study2?course='.$v['id'])}">学习</a>
        </div>
      </div>
    {/volist}
    </div>
	
	  <div class="page">
            <div>
                {$data->render()}
            </div>
       </div>
  </div>
  
</section>
<!-- Courses ends -->

{include file="public/foot"}
