{include file="public/head"}


<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <h1>物联网实验箱教学视频</h1>
        <p>包含超过200课时学习视频，内容涵盖实验箱配置的二十多种传感器，三种执行器以，三种识别模块以及其中其中无线传输模块的实验，网关及终端的实验应有尽有。</p>
        <div class="page_nav">
      <span>您的位置:</span> <a href="{:url('course/index/index')}">视频课程中心</a> <span><i class="fa fa-angle-double-right"></i><a href="{:url('course/index/course1')}">物联网实验箱教学视频</a> </span>
      </div>
      </div>
    </div>
  </div>
</section>
<!--Page Header-->

<!-- Courses -->
<section id="course_all" class="padding-bottom">
  <div class="container">
    <div class="row">
	
	{volist	name="data"	id="v"}
      <div class="col-sm-6 col-md-4">
        <div class="course margin_top wow fadeIn" data-wow-delay="400ms">
          <div class="image bottom25">
            <img src="{$v.picture}" alt="Course" class="border_radius">
          </div>
          <h3 class="bottom10"><a href="{:url('course/index/study1?course='.$v['id'])}">{$v.name}</a></h3>
          <p class="bottom20" style="height:120px">{$v.brief}</p>
          <a class="btn_common yellow border_radius" href="{:url('course/index/study1?course='.$v['id'])}">学习</a>
        </div>
      </div>
    {/volist}
    </div>
	  <div class="page">
            <div>
                {$data->render()}
            </div>
       </div>
  </div>
</section>
<!-- Courses ends -->

{include file="public/foot"}
