{include file="public/head"}


<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <h1>视频课程中心</h1>
        <p>您可以通过在线视频进行学习。</p>
        <div class="page_nav">
      <span>您的位置:</span> <a href="{:url('course/index/index')}">视频课程中心</a> <span><i class="fa fa-angle-double-right"></i>主页</span>
      </div>
      </div>
    </div>
  </div>
</section>



<!--BLOG SECTION-->
<section id="blog" class="padding">
  <div class="container">
    <h2 class="hidden">Our Blog</h2>
    <div class="row">
      <div class="col-md-9">
	  
        <article class="blog_item heading_space wow fadeInLeft" data-wow-delay="300ms">
          <div class="row">
            <div class="col-md-5 col-sm-5 heading_space">
              <div class="image"><img src="__images__/course1.jpg" alt="blog" class="border_radius"></div>
            </div>
            <div class="col-md-7 col-sm-7 heading_space">
              <h2>物联网实验箱教学视频</h2>
              <ul class="comment margin10">
                <li><a href="">2018.07</a></li>
                <li><a href="">上线</a></li>
              </ul>
              <p class="margin10">包含超过200课时学习视频，内容涵盖实验箱配置的二十多种传感器，三种执行器以，三种识别模块以及其中其中无线传输模块的实验，网关及终端的实验应有尽有。
              </p>
              <p class="margin10">视频中演示实验具体操作，深入浅出讲解实验的原理和代码您可以在线享受视频学习，提升学习的效率与质量，节省线上咨询的时间。
              </p>
              <a class=" btn_common btn_border margin10 border_radius" href="{:url('course/index/course1')}">进入</a>
            </div>
          </div>
        </article>
		
        <article class="blog_item heading_space wow fadeInLeft" data-wow-delay="400ms">
          <div class="row">
            <div class="col-md-5 col-sm-5 heading_space">
              <div class="image"><img src="__images__/course2.jpg" alt="blog" class="border_radius"></div>
            </div>
            <div class="col-md-7 col-sm-7 heading_space">
              <h2>STM32基础实验</h2>
              <ul class="comment margin10">
                <li><a href="">2017.08</a></li>
                <li><a href="">上线</a></li>
              </ul>
              <p class="margin10">专注于STM32的基础教学，适合没有学习过单片机的新手学习。从焊接实验板到进行实验，从电路原理到芯片编程，系统化学习嵌入式开发的基础知识。
			  </p>
              <p class="margin10">STM32是一款广泛使用的高性能芯片，在全球的嵌入式开发行业中尤为重要。掌握STM32的基础编程，既可以使用它调用传感器，也可以与其他芯片联用进行物联网产品开发。
              </p>
              <a class=" btn_common btn_border margin10 border_radius" href="{:url('course/index/course2')}">进入</a>
            </div>
          </div>
        </article>
    
      </div>
      <div class="col-md-3">
        <aside class="sidebar bg_grey border-radius wow fadeIn" data-wow-delay="300ms">
          <div class="widget heading_space">
            <form class="widget_search border-radius">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="输入以搜索服务" required>
                <i class="input-group-addon icon-icons185"></i>
              </div>
            </form>
          </div>
          <div class="widget heading_space">
            <h3 class="bottom20">关键词搜索</h3>
            <ul class="tags">
              <li><a href="#.">4G</a></li>
              <li><a href="{:url('data/user/index')}">LoRa</a></li>
              <li><a href="{:url('newdata/index/sensor')}">NB-IoT</a></li>
              <li><a href="{:url('newdata/index/bd')}">北斗</a></li>
              <li><a href="{:url('newdata/index/bd')}">GPS</a></li>
              <li><a href="{:url('newdata/index/sensor')}">环境监测</a></li>
              <li><a href="{:url('newdata/index/bd')}">房车</a></li>
              <li><a href="{:url('newdata/index/sensor')}">低功耗广域网</a></li>
              <li><a href="{:url('newdata/index/sensor')}">传感器</a></li>
              <li><a href="{:url('data/user/index')}">UDP</a></li>
              <li><a href="{:url('data/user/index')}">TCP</a></li>
              <li><a href="{:url('newdata/index/bd')}">COAP</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!--BLOG SECTION-->

{include file="public/foot"}

