{include file="public/head"}
	<script>
	
	layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      function delAll () {
        var datas = tableCheck.getData();
		var len = datas.length;
		var i;
		<!--alert(datas instanceof Array);-->
        layer.confirm('确认删除这'+len.toString()+'条数据吗？',function(index){
            //捉到所有被选中的，发异步进行删除
			for(i=0;i<len;i++)
			{
            $.post("{:url('platform/deletedatas/deletedata4')}", {id: datas[i]}, function(data, textStatus, xhr) {
          /*optional stuff to do after success */
            
              console.log(data);
              if(data.code==1){
                  layer.msg(data.msg,{icon:1,time:1000},function(){
                  });
              }else{
                  layer.msg(data.msg,{icon:2,time:1000});
              } 
            });
			}
		 $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
	  
	  function delData(obj,id){
        var count = $(".i_count")[0].innerText;
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('platform/deletedatas/deletedata4')}", {id: id}, function(data, textStatus, xhr) {
          /*optional stuff to do after success */
              console.log(data);
              if(data.code==1){
                  layer.msg(data.msg,{icon:1,time:1000},function(){
                    $(obj).parents('tr').remove();
                    $(".i_count").html(count-1);
                  });
              }else{
                  layer.msg(data.msg,{icon:2,time:1000});
              }
            
            });
        });
      }
	  function On(id){
        layer.confirm('确认要打开吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('platform/control/sendon')}", {id: id}, function(data, textStatus, xhr) {
          /*optional stuff to do after success */
              console.log(data);
              if(data.code==1){
                  layer.msg(data.msg,{icon:1,time:1000},function(){
				  location.replace(location);
                  });
              }else{
                  layer.msg(data.msg,{icon:2,time:1000});
              }
            
            });
        });
      }
	  function Off(id){
        layer.confirm('确认要关闭吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('platform/control/sendoff')}", {id: id}, function(data, textStatus, xhr) {
          /*optional stuff to do after success */
              console.log(data);
              if(data.code==1){
                  layer.msg(data.msg,{icon:1,time:1000},function(){
				  location.replace(location);
                  });
              }else{
                  layer.msg(data.msg,{icon:2,time:1000});
              }
            
            });
        });
      }
    </script> 
 <body>

<div class="x-body" style="width:70%; margin: 0 auto">
        <button class="layui-btn  layui-btn-small layui-btn-danger" onclick="delAll()">批量删除</button>
        <button onclick="javascript:location.reload()" class="layui-btn layui-btn-small">刷新</button>
		<button onclick="On('{$serial}')" class="layui-btn">开</button>
		<button onclick="Off('{$serial}')" class="layui-btn">关</button>
		<table class="x-right" style = "width:400px">
		<tr>
	            <td style = "width:150px">
	              <span class="x-right">共有数据:
				</td>
	              <td style = "width:100px"><i class="i_count">{$datas->total()}</i>条</span>
	            </td>
	            <td style = "width:100px">
				  <span class="x-right">序列号:
				</td>
	            <td style = "width:200px">
				  <i class="i_count">{$serial}</i></span>
				</td>
	            <td style = "width:150px">
				  <span class="x-right">设备类型:
				</td>
	            <td style = "width:200px">
				  <i class="i_count">{$type}</i></span>
				</td>
	        </tr>
		</table>
        
        
        <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>时间</th>
            <th>节点号</th>
            <th>开关状态</th>
            <th>传输协议</th>
            <th>操作</th>
        </thead>
        <tbody>

        {volist name="datas" id="vo"}
        	<tr>
	            <td>
	              <div class="layui-form-checkbox" lay-skin="primary" data-id='{$vo.id}'><i class="layui-icon">&#xe605;</i></div>
	            </td>
	            <td>{$vo.time}</td>
	            <td>{$vo.serial}</td>
	            <td><?php if($vo['state'] == 1) echo "开"; else echo "关"; ?></td>
                <td>{$vo.msgtype}</td>
	            <td>
	             	<button onclick="delData(this,{$vo.id})" class="layui-btn layui-btn-mini layui-btn-danger">删除</button>
	           </td>
	        </tr>
        {/volist}
       
          </tbody>
        </table>
	      <div class="page">
	        <div>
	        	{$datas->render()}
	        </div>
	      </div>
        </div>

	</body>	

{include file="public/foot"}